<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/13_Loops_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
range(5)

range(0, 5)

In [ ]:
## for loop

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):## step size is 2
  print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1): ## except last one ie 1
  print(i)

10
9
8
7
6
5
4
3
2

In [10]:
str="aman kumar"  ## as string is a collection of characters
for i in str:
  print(i)

a
m
a
n

k
u
m
a
r

In [11]:
## while loop
## The while loop continues to execute if the condition is True
count=0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [12]:
count=0
while count%2==0:
  print(count)
  count=count+1

0

In [14]:
## Loop control statements
## the  break statements exits the loop permanently
for i in range(10):
  if i==5:
    break
  print(i) ## here print is out of if

0
1
2
3
4

In [15]:
## the continue statement skips the current iteration  and continues with the next
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [16]:
## pass
## The pass statement is a null opearation; it does nothing
for i in range(10):
  if i==3:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
## nested loops
## loops inside a loop
for i in range(3):        ## for every i j will run  three  times
  for j in range(3):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2

In [20]:
## to calculate the sum of first N natural number using for loop

num=int(input("Enter the number of natural number:"))
sum=0
for i in range(1,num+1):
  sum=sum+i
print(sum)

Enter the number of natural number:5
15

In [21]:
## using while loop to calculate the sum of first N natural number
N=10
sum=0
count=1
while count<=N:
  sum=sum+count
  count=count+1
print("The sum is:",sum)

The sum is: 55

In [22]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97