<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/15_Sets_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [39]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [40]:
my_empty_set=set([1,2,3,4,5])
print(my_empty_set)

{1, 2, 3, 4, 5}

In [41]:
my_set

{1, 2, 3, 4, 5}

In [42]:
## adding and removing elements
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 8}

In [43]:
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 8}

In [44]:
## removing an element if present otherwise ni problem
my_set.discard(34)
print(my_set)

{1, 2, 3, 5, 8}

In [45]:
y=my_set.pop()
print(y)
print(my_set)

1
{2, 3, 5, 8}

In [46]:
## clear all the elemnets of the set
r=my_set.clear()
print(my_set)

set()

In [47]:
## set membership test
my_set={1,2,3,45,7,8}
print(4 in my_set)
print(8 in my_set)
print(78 in my_set)
print(45 in my_set)

False
True
False
True

In [48]:
## mathematical operation in set
## 1.union
set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
print(set1.union(set2))
## intersection
print(set1.intersection(set2))
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6}
{5, 6}

In [49]:
set1

{5, 6}

In [50]:
print(set1)

{5, 6}

In [51]:
set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
 ## diffrence bewtween 2 sets
x=set1.difference(set2)
print(x)

{1, 2, 3, 4}

In [53]:
i=set2.difference(set1)
print(i)

{8, 9, 7}

In [54]:
## symmetric diiference
set1.symmetric_difference(set2)  #3 in symmetric diffrence both the unique elements are combined and intersectio is removed from the given sets

{1, 2, 3, 4, 7, 8, 9}

In [58]:
set1={1,2,3}
set2={2,3,5}
## set methods
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [59]:
lst=[1,2,3,4,5,5,6]
print(set(lst))

{1, 2, 3, 4, 5, 6}

In [60]:
## counting the unique words in a text
words="Hello, i am learning machine learning and deep learning and mastering ai and recent boomig technology"
words=words.split()
print(words)

['Hello,', 'i', 'am', 'learning', 'machine', 'learning', 'and', 'deep', 'learning', 'and', 'mastering', 'ai', 'and', 'recent', 'boomig', 'technology']

In [62]:
print(set(words))
print(len(words))

{'and', 'ai', 'mastering', 'technology', 'i', 'boomig', 'learning', 'machine', 'deep', 'recent', 'Hello,', 'am'}
16