<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/21_Python_Lambda_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def addition(a,b):
  return a+b

addition(4,5)

9

In [4]:
## using lambda function as anonymous function(anobymous function is a function without a name)
addition=lambda a,b:a+b  ## here addition is a variable that takes two parameters as a,b
print(addition(4,5))
print(type(addition))

9
<class 'function'>

In [5]:
def even(num):
  if num%2==0:
    return True
even(34)

True

In [6]:
even1=lambda num:  num%2==0
print(even1(56))

True

In [7]:
## dealing with multiple features in functions
def addition(x,y,z):
  return x+y+z
addition(3,4,5)

12

In [8]:
## using lambda as anonymous function
addition=lambda x,y,z:x+y+z
print(addition(4,5,6))

15

In [11]:
## map()-applies function to every items in the given list
numbers=[1,2,3,4,5]
def square(numbers):
  return numbers**2
square(4)

16

In [12]:
square=lambda x:x**2
print(square(9))

81

In [13]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]