<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/23_Filter_Function_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def even(num):
  if num%2==0:
    return True
even(78)

True

In [2]:
numbers=[1,2,3,4,5,6,7,8,9,20]
list(filter(even,numbers)) ## it basically filters out the elements from the list of numbers using even function

[2, 4, 6, 8, 20]

In [4]:
## filter with lambda function
numbers=[1,3,4,5,6,7,8,9,14]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9, 14]

In [5]:
## filter with lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,20]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8, 20]

In [6]:
## filter( to check if the age is greater than 25)

people=[{"name":"aman","age":21},{"name":"rahul","age":34}]
def age_greater_than_25(person):
  return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'rahul', 'age': 34}]