<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/6_Loops_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## for loop
range(12)

range(0, 12)

In [2]:
for i in range(5):
  print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [4]:
for i in range(1,10,1):
  print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10,3):
  print(i)

1
4
7

In [7]:
for i in range(10,1,-2): ## step size is 2 ie decresing by 2 size
  print(i)

10
8
6
4
2

In [8]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [9]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [11]:
str="aman kumar" ## as we know string is a sequence of charcter
for i in str:
  print(i)

a
m
a
n

k
u
m
a
r

In [12]:
## while lop continues to execute as long as the condition is true
count=0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [14]:
count=0
while count%2==0:
  print(count)
  count+=1

0

In [22]:
## break statements exits the loop prematurely
for i in range(10):
  if i==5:
    break
  print(i) ## here print is out of if statement

0
1
2
3
4

In [23]:
## continue statement
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [24]:
# pass statemnet
## the pass statement  is a null operation : it does nothing
for i in range(5):
  if i==3:
    print("the number is 3")
    pass
  print(i)

0
1
2
the number is 3
3
4

In [25]:
#nested loops
## A loop inside a  loop
for i in range(3):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [26]:
for i in range(3):
  for j in range(2):
    print(f"i:{i}and j:{j}")

i:0and j:0
i:0and j:1
i:1and j:0
i:1and j:1
i:2and j:0
i:2and j:1

In [27]:
## calculate the sum of first n natural numbers
n=10
sum=0
count=1
while count<=n:
  sum= sum+count
  count=count+1
print("The sum of first 10 natural numbers is:",sum)

The sum of first 10 natural numbers is: 55