<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/8_Python_Basics_Syntax_and_Semantics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## basic syntax rules in python
## Case sensitivity- Python is a case sensitive language

In [2]:
name="aman"
Name="prashant"
print(name)
print(Name)

aman
prashant

In [3]:
## Indentation
age=32
if age>30:
  print(age) ## here is indentation inside blocks
print(age)

32
32

In [4]:
## single line commnets
## LINE continuation using backslash \
total=1+2+3+4+5+6+7+\
8+9
print(total)

45

In [5]:
## Multiple statements on a single line
x=8;y=9;z=x+y
print(z)

17

In [6]:
## Understanding semantics in python
age=21
name= "aman"
print(type(age)) ## age is an integer
print(type(name)) ## name is string

<class 'int'>
<class 'str'>

In [8]:
## Type inference
variable=10
print(type(variable))
variable="aman"
print(type(variable))

<class 'int'>
<class 'str'>

In [9]:
age=21
if age>18:
  print(age+1)
print(age)

22
21

In [10]:
## name error
a=b

NameError: name 'b' is not defined

In [11]:
## Code examples of indentation
if True:
  print("Correct Indentation")
  if False:
    print("This wont print")
  print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block