<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/9_Variables_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
a=100

In [24]:
## printing and assigning the variables
age=32
name="aman"
height=5.4
is_student=True

In [25]:
## printing the variables
print("age:",age)
print("name:",name)
print("height:",height)

age: 32
name: aman
height: 5.4

In [26]:
##naming conventions
## variables names should be descriptive
##They must not  start with a letter and contain underscores,or letters or digits
## variable names are case sensitive
first_name="aman"
last_name="kumar"

In [27]:
# invalid variable name
##2age=30
##first-name="aman"
##@name='a'

In [28]:
## case sensitivity
name='AMAN'
Name='aman'
name==Name

False

In [29]:
## python is dynamically typed programming language as types of variable is determined only at run-time
age=32
name="aman"
height=8.9
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [31]:
## type conversions
age=21
print(type(age))
Age=str(age)
print(Age)
print(type(Age))

<class 'int'>
21
<class 'str'>

In [33]:
AGE='23'
x=int(AGE)
print(x)
print(type(x))

23
<class 'int'>

In [34]:
y="prashant"
z=int(y)
print(z)

ValueError: invalid literal for int() with base 10: 'prashant'

In [36]:
height=7.9
print(type(height))
u=int(height)
print(type(u))

<class 'float'>
<class 'int'>

In [39]:
## dynamic typing
## python allows the type of varibale to change as the program executes
var=10
print(var,type(var))
var="aman"
print(var,type(var))
var=8.9
print(var,type(var))

10 <class 'int'>
aman <class 'str'>
8.9 <class 'float'>

In [42]:
## input function to take input from the user
age=int(input("Enter the age"))
print(age)
print(type(age))

Enter the age45
45
<class 'int'>

In [44]:
## simple calculator
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
sum=num1+num2
diff=num1-num2
mul=num1*num2
division=num1/num2

print("sum:",sum)
print("diff:",diff)
print("mul:",mul)
print("division:",division)

Enter num1:34
Enter num2:2
sum: 36
diff: 32
mul: 68
division: 17.0