<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/Copy_of_2_Variables_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## declairing and assigning variables
age=21
name="aman"
height=6.1
is_student=True
print("name:",name)
print("age:",age)
print("height:",height)
print("is_student:",is_student)

name: aman
age: 21
height: 6.1
is_student: True

In [2]:
## naming conventions
## variables names are case sensitive
## variable can start with letter and underscore and can contain lettrs and underscore in between them but cant start with  digits
##variables name should be descriptive
first_name="aman"
last_name="kumar"

In [3]:
## case sensitivity
name="aman"
Name="kumar"
name==Name

False

In [4]:
## python is a dynamically typed programming language
x=9
print(type(x))
name="aman"
Standard="aiml"
Roll=2211035
print(type(Roll))
print(type(Standard))

<class 'int'>
<class 'int'>
<class 'str'>

In [5]:
# Type conversion in python
u=9
print(type(u))
u_str=str(u)
print(u_str)

<class 'int'>
9

In [6]:
name="8"
z=int(name)
print(z)
print(type(z))

8
<class 'int'>

In [7]:
height=8.9
print(type(int(height)))
print(height)
int(height)
float(height)

<class 'int'>
8.9

8.9

In [8]:
## dynamic typing
## python allows the type of variables to change as the program executes
var=10
print(var,type(var))
var="name"
print(var,type(var))
var=7.8
print(var,type(var))

10 <class 'int'>
name <class 'str'>
7.8 <class 'float'>

In [9]:
## user input
age=input("what is the age:")
print(age)
print(type(age))

what is the age:67
67
<class 'str'>

In [10]:
## user input
age=int(input("what is the age:"))
print(age)
print(type(age))

what is the age:21
21
<class 'int'>

In [11]:
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
sum=num1+num2
diff=num1-num2
mul=num1*num2
div=num1/num2
print("sum:" ,sum)
print("dif:",diff)
print("mul:",mul)
print("div:",div)

Enter num1:56
Enter num2:7
sum: 63
dif: 49
mul: 392
div: 8.0