<a href="https://colab.research.google.com/github/aman685892/Data-Structures-and-Algorithms-Python/blob/main/Map_functions_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def square(x): ## here i have defined the function named as square
  return x*x

In [3]:
numbers=[1,2,3,4]
list(map(square,numbers))  ## here map function map between function named square and list as numbers

[1, 4, 9, 16]

In [4]:
## Lambda function with map()
numbers=[1,2,3,4]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16]

In [5]:
## mapping multiple iterables
num1=[1,2,3,4]
num2=[5,6,7,8]
list(map(lambda x,y:x+y,num1,num2))  ## Lambda takes only ONE EXPRESSION, not one parameter,it can takes multiple paramters

[6, 8, 10, 12]

In [6]:
## map( ) to covert a list of strings to integers
str_numbers=['1','2','3','4','5']
list(map(int,str_numbers))

[1, 2, 3, 4, 5]

In [7]:
## inbulit function woth maps()
words=["maan","raju","papaya","apple"]
list(map(str.upper,words))## mapping a function with iterables

['MAAN', 'RAJU', 'PAPAYA', 'APPLE']

In [9]:
def get_name(person):
  return person['name']
people=[{"name":"aman","age":21},{"name":"rahul","age":34}]
list(map(get_name,people))

['aman', 'rahul']